.header {
  background-color: #fff;
}

#logo {
  padding: 1em 5em;
}

#menu {
  margin: 0 0 0 auto;
}

#profile {
  padding: 1em 0;
  margin-right: 5em;
}

.nopic {
  background-color: #ff5b57;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.nopic * {
  color: #FFF;
  font-size: 2em;
  position: relative;
  top: 6px;
  left: 6px;
}

#logo img{
  width: 120px;
  height: 50px;
}

#profile img{
  width: 44px;
  height: 44px;
}

.name {
  padding: .2em .5em;
  color: rgb(255, 91, 87);
}

.name p {
  margin: 0 1em;
}

.menu-content {
  padding: 1em;
}

#logout {
  margin-left: 2em;
  position: relative;
  top: .4em;
}

.active-link {
  background-color: #000 !important;
  color: #FFF !important;
}

#profile img{
  border-radius: 50%;
}
