.main {
  padding: 10em 0 10em 5em ;
  height: 100vh;
  background-image: url("../../../assets/img/loginBack.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.quote {
  font-size: 1.25em;
  color: #FFFFFF;
  background-color: rgba(27, 27, 27, 0.349019607843137);
  border-radius: 3px;
  padding: 1em;
  width: 250px;
  float: right;
}

md-card {
  width: 280px;
}

#submit-btn {
  width: 65%;
  padding: .7em;
  margin: .5em 0;
}

.sign-in {
  background-color: rgba(255, 91, 87, 0.6);
  border-radius: 3px;
  width: 280px;
  margin: 0 24px;
  padding: .7em 0 .1em 0;
  color: #FFF;
  text-align: center;
}

.sign-in p:first-child {
  margin: 0;
}

.clickable {
  cursor: pointer;
}

.working-spinner {
  position: absolute;
  bottom: 0;
  right: 0;
}
