<div fxLayout="column" fxLayoutAlign="center stretch">
  <div fxLayout="row" fxLayoutAlign="center stretch">
    <div fxFlex="50%">
      <app-monthly-pagination [basePath]='basePath' [month]='month' [year]='year' [viewMonth]='viewMonth'></app-monthly-pagination>
      <br />
    </div>
    <div fxFlex="50%">
      <app-chef-routing></app-chef-routing>
    </div>
  </div>
</div>
<div class="spinner-container" *ngIf="daysInGrid === undefined || daysInGrid.length < 20">
  <div class="spinner-container-content">
    <md-spinner color="warn"></md-spinner>
  </div>
</div>
<div fxLayout="row">
  <div fxFlex="20%">
    <h3>Monday</h3>
  </div>
  <div fxFlex="20%">
    <h3>Tuesday</h3>
  </div>
  <div fxFlex="20%">
    <h3>Wednesday</h3>
  </div>
  <div fxFlex="20%">
    <h3>Thursday</h3>
  </div>
  <div fxFlex="20%">
    <h3>Friday</h3>
  </div>
</div>


<div fxLayout="row" fxLayoutWrap id="grid">
  <div fxFlex="20%" *ngFor="let day of daysInGrid" [ngClass]="{'currentMonth': day.getMonth() === viewMonth.getMonth(), 'otherMonth': day.getMonth() !== viewMonth.getMonth()}">

    <div *ngIf="complete">
    <app-daily-menu
     [dailyMenuChef]="getDailyOrders(day.getTime())"
     [date]="day"
     [viewMonth]="viewMonth"
     [activeFoodsOriginal]="activeFoodsOriginal"
     > </app-daily-menu>
    </div>
  </div>
</div>

