<div>

  <!-- Home button -->
  <button md-button routerLink="/admin" routerLinkActive [routerLinkActiveOptions]="{exact: true}" #homeRla="routerLinkActive" routerLinkActive="active" class="button-strong-text" [ngClass]="{'active-link': homeRla.isActive, 'inactive-link': !homeRla.isActive}" [disabled]="homeRla.isActive">Users</button>

  <!-- Global settings button -->
  <button md-button routerLink="/admin/settings" routerLinkActive [routerLinkActiveOptions]="{exact: true}" #settingsRla="routerLinkActive" routerLinkActive="active" class="button-strong-text" [ngClass]="{'active-link': settingsRla.isActive, 'inactive-link': !settingsRla.isActive}" [disabled]="settingsRla.isActive">Global settings</button>


</div>
