<md-card>
  <md-card-content>
    <form novalidate [formGroup]="editFoodForm" (ngSubmit)="updateFood(editFoodForm, $event)" autocomplete='off'>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxLayoutAlign="space-between start">
          <md-input-container>
            <input mdInput placeholder="Name" formControlName="name" name="name" pattern="^[a-zA-Z  .-]+$">
            <md-error>Invalid</md-error>
          </md-input-container>
          <div style="height:120px;">
            <md-select placeholder="Type of food" formControlName="foodType" name="foodType">
              <md-option *ngFor="let foodType of foodTypes" [value]="foodType.value">
                {{foodType.viewValue}}
              </md-option>
            </md-select>
          </div>
        </div>

        <div>
          <md-input-container>
            <textarea mdInput placeholder="Meal description" formControlName="description"
            cols="60" rows="5" maxlength="140" name="description"></textarea>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
            <input mdInput placeholder="Price" type="number"  class="no-spin" pattern="^[^0]|[1-9]{1,2}(\.[0-9]{1,2})?$" formControlName="price" name="price">
            <md-error>Invalid</md-error>
          </md-input-container>
        </div>
        <div>
          <button color="primary" [disabled]="!editFoodForm.valid || editFoodForm.pristine || disableButtons" md-fab type="submit" title="Save"><md-icon
          >check</md-icon></button>
          <span *ngIf="disableButtons">
            <md-spinner color="warn" class="small-md-spinner" ></md-spinner>
          </span>
        </div>
        <div>
          <button md-mini-fab color="accent" [disabled]="disableButtons" type="button" (click)="cancelEditing()" title="Discard changes"><md-icon>cancel</md-icon></button>
        </div>
      </div>
    </form>
  </md-card-content>
</md-card>
