<div fxLayout="row" class="main">

  <div fxFlex="50%">

    <md-card class="center-text">

      <div>
        <img src="assets/img/Yum-logo-small.png">
        <h3>Sign in</h3>
      </div>

      <div>

        <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">

          <div>
            <md-input-container>
              <input mdInput type="text" formControlName="user" placeholder="User">
              <md-error>
                <span *ngIf="loginForm.get('user').hasError('required')">Required</span>
                <span *ngIf="loginForm.get('user').hasError('pattern')">Please enter a valid email</span>
              </md-error>
            </md-input-container>
          </div>

          <div>
            <md-input-container>
              <input mdInput type="password" formControlName="password" placeholder="Password">
              <md-error>
                <span *ngIf="loginForm.get('password').hasError('required')">Required</span>
                <span *ngIf="loginForm.get('password').hasError('minlength')">Minimum length 6 characters</span>
                <span *ngIf="loginForm.get('password').hasError('maxlength')">Maximum length 25 characters</span>
              </md-error>
            </md-input-container>
          </div>

          <div>
            <button md-button type="submit" color="primary" class="button-strong-text" [disabled]="!loginForm.valid || loading" id="submit-btn">Login</button>
            <div class="working-spinner" *ngIf="loading">
              <md-spinner color="warn" class="small-md-spinner"></md-spinner>
            </div>
          </div>

          <div id="forgotpwd">
            <span class="clickable" (click)="gotoForgotpwd()">Forgot password?</span>
          </div>

        </form>

      </div>

    </md-card>

    <div class="register">
      <p>Don't have an account?</p>
      <p><span (click)="gotoRegister()" class="bold-text clickable">Create account</span></p>
    </div>

  </div>

  <div fxFlex="50%">
    <div class="quote">
      <p>
        What I've enjoyed most, though, is meeting people who have a real interest in food and sharing ideas with them. Good food
        is a global thing and I find that there is always something new and amazing to learn - I love it!
      </p>
      <p class="bold-text">
        Jamie Oliver
      </p>
      <p>
        <small>www.brainyquote.com</small>
      </p>
    </div>
  </div>

</div>
