<md-input-container>
  <input mdInput placeholder="Add a new food" [mdAutocomplete]="auto"
  [formControl]="foodNamesControl"
  >
</md-input-container>
<!--(ngModelChange)="onChange($event)"-->

<md-autocomplete #auto="mdAutocomplete">
  <md-option *ngFor="let foodItem of dropdownFoods | async " [value]="foodItem"  (click)="hello(foodItem)">
    {{ foodItem }}
  </md-option>
</md-autocomplete>
