<div md-dialog-title>
  <h3>Yum Meal Manager</h3>
</div>
<div md-dialog-content>
  <md-tab-group  [selectedIndex]="selectedIndex">
  <md-tab label="Terms of Service">
    <div [innerHTML]="terms" class="textarea"></div>
  </md-tab>
  <md-tab label="Privacy Policy">
    <div [innerHTML]="policy" class="textarea"></div>
  </md-tab>
</md-tab-group>

</div>
<div md-dialog-actions>
  <button md-button color="accent" (click)="dialogRef.close('close')">Close</button>
</div>
