.chef-create-food-form {
  border: 3px solid #c7c0c0;
  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 10px;
  background-color: #fafafa;
}

.chef-create-food-form button {
  width: 83%;
}

.chef-img {
  position: relative;
  margin-top: -47px;
  margin-bottom: -31px;
  margin-left: -20px;
  -webkit-transform: rotate(-20deg);
}

.chef-home-heading {
  margin-top: -20px;
  font-size: 21px;
}

.chef-home-title {
  margin-top: -30px;
}

.chef-food-name{
  width: 100%;
}

.chef-food{
  margin-top: 1em;
}

.chef-home-nav{
  float: right;
}

.chefPagination{
  // text-align: right;
  // float: right;
  margin-left: 18.8em;
}

.noFood{
  text-align: center
}

.description {
  width: 100%;
}

.small-md-spinner {
  float: right !important;
  position: relative;
  top: -1.3em;
  left: .8em;
}

.name-error{
  position: relative;
  top: 25px;
  font-size: 12px;
}
