#navbar {
  margin-bottom: 2em;
}

#weekPagination {
  text-align:right;
}

#weekPaginationFooter {
  text-align:right;
  margin: 2em 0;
}

.date {
  margin-top: 1em;
  width: 10em;
  padding: 1em;
  background-color: rgba(27, 27, 27, 1);
  color: #FFFFFF;
  border-radius: .3em .3em 0 0;
  text-align: center;
}

.deadline {
  margin: 1em 0;
}

.active-link {
  background-color: #000 !important;
  color: #FFF !important;
}