<h2> The data has been already modified!</h2>
<h4>  Would you like to get the latest version  of your <br /> settings? </h4>
<button md-button color="primary" (click)="dialogRef.close('yes')">Yes</button>
<button md-button color="accent" (click)="dialogRef.close('no')">No</button>
