.main {
  padding: .5em;
  height: 300px;
  background-color: #fff;
}

.s48{ font-size: 48px; }

i {
  font-size: 1.5em;
  font-weight: 600;
  position: relative;
  top: 0.15em;
}


.positioningButtons{
  margin-top:  -20px;
  margin-bottom: 15px;
  margin-left: 70%;
}

.hideSpinner{
  visibility: hidden;
}


.button-save, .button-cancel {
  height: 24px;
  width: 24px;
}

.button-save {
  margin-left: .5em;
}

.button-cancel {
  background-color: #d7d7d7;
}

.button-discard {
  background-color: #949494;
  height: 16px;
  width: 16px;
  position: relative;
  top: .5em;
}
.button-discard.disabled {
  display:none;
}

.md-discard{
  font-size: 15px;
  position: relative;
  top: -.4em;
  left: -.3em;
}

.working-spinner{
  margin-top: 0;
}


button * {
  padding: 0;
}

md-select {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

h3{
  margin: 0;
}

.otherMonth {
  color: #A1A1A1;
}

.foodsList {
  margin-top: .5em;
  height: 220px;
  overflow-y: auto;
}

.food {
  background-color: #f2f2f2;
  margin: .1em 0;
  padding: 0 .5em .2em;
  border-radius: .2em;
}

.foodArchived {
  background-color: #f2ceb3;
  margin: .1em 0;
  padding: 0 .5em .2em;
  border-radius: .2em;
}

.menuItem{
  cursor: default;
}

.archived{
  float: right;
  cursor: default;
}
