.routingButtons{
  text-align: right;
  position: relative;
  top: 1em;
}

md-card{
  background-color: #F3F3F3 !important;
  border: solid 2px #d1cfcf!important;
}

#approved{
  text-align: right;
  margin-bottom: 3px;
}
.header{
  border-bottom: 0.5px solid red;
}

.sharedCmp{
  margin-top: 3em !important;
}

.buttons{
  position: relative;
  top: -3.4em;
  float: right;
}

#profile{
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
}

.small-md-spinner {
  float:right !important;
  position: relative;
  bottom: -.6em !important;
  left: 1.5em !important;
}
