<div fxLayout="column">

  <div fxLayout="row">
    <app-monthly-pagination fxFlex="50%" [basePath]='basePath' [month]='month' [year]='year' [viewMonth]='viewMonth'></app-monthly-pagination>
    <app-chef-routing fxFlex="50%" style="float: right"></app-chef-routing>
  </div>


  <div class="spinner-container" *ngIf="!monthlyGrid">
    <div class="spinner-container-content">
      <md-spinner color="warn"></md-spinner>
    </div>
  </div>




  <div fxLayout="row">
    <div fxFlex="20%">
      <h3>Monday</h3></div>
    <div fxFlex="20%">
      <h3>Tuesday</h3></div>
    <div fxFlex="20%">
      <h3>Wednesday</h3></div>
    <div fxFlex="20%">
      <h3>Thursday</h3></div>
    <div fxFlex="20%">
      <h3>Friday</h3></div>
  </div>

  <div fxLayout="row" fxLayoutWrap id="grid">
    <div fxFlex="20%" *ngFor="let gridDay of monthlyGrid" [ngClass]="{'currentMonth': gridDay.getMonth() === viewMonth.getMonth(),
    'otherMonth': gridDay.getMonth() !== viewMonth.getMonth()}">
      <app-chef-order-total [dailyOrderTotal]="getDailyOrders(gridDay)" [hasOrders]="hasOrders" [date]="gridDay" [viewMonth]="viewMonth"></app-chef-order-total>
    </div>
  </div>

</div>
