<h1 md-dialog-title style="text-align: center">Please check your email</h1>

<div md-dialog-content>
  <span>You will receive shortly an email with additional instructions</span>
</div>

<div md-dialog-actions>
  <button md-button color="accent" (click)="dialogRef.close()">Close</button>
</div>
