<div fxLayout="column">

  <div fxLayout="row">
    <app-monthly-pagination [basePath]='basePath' [month]='month' [year]='year' [viewMonth]='viewMonth'></app-monthly-pagination>
    <app-hungry-nav-bar></app-hungry-nav-bar>
  </div>

  <!-- Loading Spinner-->
  <div class="spinner-container" *ngIf="daysInGrid === undefined || daysInGrid.length < 20">
    <div class="spinner-container-content">
      <md-spinner color="warn"></md-spinner>
    </div>
  </div>
  <!-- /Loading Spinner-->

  <div fxLayout="row">
    <div fxFlex="20%"><h3>Monday</h3></div>
    <div fxFlex="20%"><h3>Tuesday</h3></div>
    <div fxFlex="20%"><h3>Wednesday</h3></div>
    <div fxFlex="20%"><h3>Thursday</h3></div>
    <div fxFlex="20%"><h3>Friday</h3></div>
  </div>

  <div fxLayout="row" fxLayoutWrap id="grid">
    <div fxFlex="20%" *ngFor="let day of daysInGrid" [ngClass]="{'currentMonth': day.getMonth() === viewMonth.getMonth(), 'otherMonth': day.getMonth() !== viewMonth.getMonth()}">
      <app-daily-order-history [dailyMenu]="dailyMenusMap.get(day.getTime())" [date]="day" [viewMonth]="viewMonth"></app-daily-order-history>
    </div>
  </div>

  <md-card fxLayout="row" class="monthlyTotal">
    <div fxFlex="90%">
      <h2>Your monthly total</h2>
    </div>
    <div fxFlex="10%">
      <h2>{{monthlyTotal | number:'1.2'}}<span [innerHTML]="globalSettingsService.getCurrency() | async"></span></h2>
    </div>
  </md-card>

</div>
