<md-card>
  <md-card-content>
    <div fxLayout="row">

      <div class="profile-pic" fxFlex="12%">
        <img *ngIf="user.hasPicture" width='85px' height='85px' [src]="picUrl">
        <div *ngIf="!user.hasPicture" class="nopic">
          <md-icon>face</md-icon>
        </div>
      </div>

      <div fxFlex="15%" fxLayout="column">
        <h4>Name</h4>
        <span>{{user.firstName}}</span>
        <span>{{user.lastName}}</span>
      </div>

      <div fxFlex="15%" fxLayout="column">
        <h4>Role</h4>
        <span>{{user.role}}</span>
      </div>

      <div fxFlex="30%" fxLayout="column">
        <h4>Registered</h4>
        <span>{{user.registrationDate}}</span>
      </div>

      <div fxFlex="10%">
        <app-admin-user-approval [approved]="user.approved" [userId]="user.id" [disabled]="removing">Loading
        </app-admin-user-approval>
      </div>

      <div fxFlex="8%" class="edit-user">
        <button md-fab color="primary" [routerLink]="profileRoute" [disabled]="notEditable || removing" title="Edit user">
          <md-icon>edit</md-icon>
        </button>
      </div>

      <div fxFlex="10%" class="delete-user">
        <button md-mini-fab color="accent" [disabled]="notRemovable || removing" (click)="openDialog(0)" title="Delete user">
          <md-icon>delete_forever</md-icon>
        </button>
        <div *ngIf="removing">
          <md-spinner color="warn" class="small-md-spinner"></md-spinner>
        </div>
      </div>

    </div>
  </md-card-content>
</md-card>
