<div fxLayout="row">
  <div fxFlex="50%">
    <h1>Global Settings</h1>
  </div>
  <div fxFlex="50%">
    <app-admin-routing></app-admin-routing>
  </div>
</div>

<div fxLayout="row">

  <div fxFlex="100%">

    <md-card>

      <!-- Header -->
      <div class="header">
        <div fxFlex="100%"> <span id="globalTitle">Set global settings</span></div>
      </div>
      <!-- /Header -->

      <!-- Save button -->
      <div class="button">
        <button md-button color="primary" class="button-strong-text" [disabled]="( settingsForm.invalid || submitting)" (click)="onSubmit()">Save Changes</button>
        <button md-button color="accent" class="button-strong-text" (click)="home()">Cancel </button>
        <md-spinner *ngIf="submitting" color="warn" class="small-md-spinner"></md-spinner>
      </div>
      <!-- /Save button -->

      <!-- Content -->
      <md-card-content>

        <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()" autocomplete="off">

          <div fxLayout="column">

            <div class="section">
              <div fxLayout="row">
                <!-- Time of last order -->
                <div fxFlex="50%">
                  <md-input-container>
                    <input mdInput type="time" formControlName="deadline" name='deadline' placeholder="Time of last order">
                    <md-error>
                      <span *ngIf="settingsForm.get('deadline').hasError('required')">Required</span>
                      <span *ngIf="settingsForm.get('deadline').hasError('pattern')">Invalid format, expected: (HH:MM)</span>
                    </md-error>
                  </md-input-container>
                </div>
                <!-- /Time of last order -->
                <!-- Active currency -->
                <div fxFlex="50%">
                  <div class="float-right">
                    <label>Active currency:</label><br>
                    <md-select [(ngModel)]="globalSettings.currency" formControlName="currency">
                      <md-option *ngFor="let cur of currencyList" [value]="cur" [innerHTML]="cur" ng-selected="currency===cur"></md-option>
                    </md-select>
                  </div>
                </div>
                <!-- /Active currency -->
              </div>
            </div>

            <!-- Notes -->
            <div class="section">
              <h3>Notes</h3>
              <textarea rows="16" cols="50" formControlName="notes" htmlEditor [(ngModel)]="globalSettings.notes"></textarea>
            </div>
            <div class="error" *ngIf="settingsForm.get('notes').hasError('required') && (settingsForm.get('notes').touched || settingsForm.get('notes').dirty)">
              Notes are required
            </div>
            <!-- /Notes -->

            <!-- Terms of service -->
            <div class="section">
              <h3>Terms of service</h3>
              <textarea rows="16" cols="50" formControlName="terms" htmlEditor [(ngModel)]="globalSettings.terms"></textarea>
            </div>
            <div class="error" *ngIf="settingsForm.get('terms').hasError('required') && (settingsForm.get('terms').touched || settingsForm.get('terms').dirty)">
              Terms of service are required
            </div>
            <!-- /Terms of service -->

            <!-- Privacy policy -->
            <div class="section">
              <h3>Privacy policy</h3>
              <textarea rows="16" cols="50" formControlName="privacy" htmlEditor [(ngModel)]="globalSettings.privacy"></textarea>
            </div>
            <div class="error" *ngIf="settingsForm.get('privacy').hasError('required') && (settingsForm.get('privacy').touched || settingsForm.get('privacy').dirty)">
              Terms of service are required
            </div>
            <!-- /Privacy policy -->

            <!-- Save button -->
            <div fxFlex="100%" class="button">
              <button md-button color="primary" class="button-strong-text" [disabled]="( settingsForm.invalid || submitting)">Save Changes</button>
              <button md-button color="accent" class="button-strong-text" (click)="home()">Cancel </button>
              <md-spinner *ngIf="submitting" color="warn" class="small-md-spinner"></md-spinner>
            </div>
            <!-- /Save button -->

          </div>

        </form>

      </md-card-content>
      <!-- /Content -->

    </md-card>

  </div>

</div>
