<h1 md-dialog-title>Food can not be deleted!</h1>
<div md-dialog-content>
  <p>
    The selected food has orders. Do you want to archive it?<br>
    <small>
    This action will also remove it from all the future menus that haven't orders for it.
  </small>
  </p>
</div>
<div md-dialog-actions>
  <button md-button (click)="dialogRef.close('yes')">Yes</button>
  <button md-button (click)="dialogRef.close('no')">No</button>
</div>
