<form [formGroup]="userForm" (keyup)="inputChanged()" autocomplete="off">

  <div fxLayout="column">

    <div fxFlex="100%">

      <!--User's avatar-->
      <div fxFlex="15%" class="avatarActions">
        <div *ngIf="user.hasPicture">
          <img [src]="picUrl" alt="profile pic" style="border-radius: 50% ">
        </div>
        <!--Default avatar when there is no photo uploded-->
        <div *ngIf="!user.hasPicture" class="nopic">
          <i class="material-icons">face</i>
        </div>
      </div>

      <!--Action Button for Avatar-->
      <div fxFlex="30%" class="buttons">

        <!--Removing button for the foto -->
        <span>Change picture </span><br />
        <button md-mini-fab color="accent" class="actionButton" (click)="openDeleteDialog()" [disabled]="settingPic" *ngIf="_user.hasPicture">
          <i class="material-icons">clear</i>
        </button>

        <!--Button to add a new foto-->
        <button md-mini-fab color="primary" class="actionButton" (click)="toggleUploader()" [disabled]="settingPic">
          <i class="material-icons" *ngIf="!showUploader">add</i>
          <i *ngIf="showUploader" class="material-icons">clear</i>
        </button>

        <!--The image uploader input-->
        <div class="fileUploader">
          <input type="file" ng2FileSelect [uploader]="uploader" [disabled]="settingPic" *ngIf="showUploader" />
        </div>


        <!--text that appears when a foto is going to be uploaded-->
        <div *ngIf="showUploader" id="avatarInfo">
          You have to upload <br />an image at least 180px by <br/> 180px, jpg, .gif, or .png. <br/> Max file size 700K.
        </div>

      </div>
      <md-spinner *ngIf="settingPic" color="warn" class="small-md-spinner"></md-spinner>
    </div>

    <div fxFlex="100%" class="inputs">
      <div fxLayout="row">

        <!--Firstname input-->
        <div>
          <label>
            <span>First name</span> <br />
          </label>
          <md-input-container>
            <input mdInput type="text" [(ngModel)]="user.firstName" formControlName="firstName">
            <md-error>
              <span *ngIf="userForm.get('firstName').hasError('minlength') && (userForm.get('firstName').touched || userForm.get('firstName').dirty)">
                 Minimum of 2 characters
              </span>
              <span *ngIf="userForm.get('firstName').hasError('maxlength') && (userForm.get('firstName').touched || userForm.get('firstName').dirty)">
                Maximum of 25 characters
              </span>
              <span *ngIf="userForm.get('firstName').hasError('pattern') && (userForm.get('firstName').touched || userForm.get('firstName').dirty)">
                Invalid characters
              </span>
              <span *ngIf="userForm.get('firstName').hasError('required') && (userForm.get('firstName').touched || userForm.get('firstName').dirty)">
                First name is required
              </span>
            </md-error>
          </md-input-container>
        </div>

        <!--Lastname input-->
        <div>
          <label>
            <span>Last name </span><br />
          </label>

          <md-input-container>
            <input mdInput type="text" [(ngModel)]="user.lastName" formControlName="lastName">

            <md-error>
              <span *ngIf="userForm.get('lastName').hasError('minlength') && (userForm.get('lastName').touched|| userForm.get('lastName').dirty)">
                Minimum of 2 characters
              </span>
              <span *ngIf="userForm.get('lastName').hasError('maxlength') && (userForm.get('lastName').touched || userForm.get('lastName').dirty)">
                Maximum of 25 characters
              </span>
              <span *ngIf="userForm.get('lastName').hasError('pattern') && (userForm.get('lastName').touched || userForm.get('lastName').dirty)">
                Invalid characters
              </span>
              <span *ngIf="userForm.get('lastName').hasError('required') && (userForm.get('lastName').touched || userForm.get('lastName').dirty)">
                Last name is required
              </span>
            </md-error>

          </md-input-container>
        </div>


        <!--Email input-->
        <div>
          <label>
            <span>Email</span><br />
          </label>
          <md-input-container>
            <input mdInput type="text" [(ngModel)]="user.email" formControlName="email" class="emailInput">
          </md-input-container>

          <md-error>
            <span *ngIf="userForm.get('email').hasError('required') && (userForm.get('email').touched || userForm.get('email').dirty)">
              Email is required
            </span>

            <span class="errorEmail" *ngIf="userForm.get('email').hasError('pattern') && (userForm.get('email').touched || userForm.get('email').dirty) && !userForm.get('email').hasError('required')">
              Invalid email
            </span>
          </md-error>
        </div>


        <!--Role input-->
        <div *ngIf="showRoleOptions && showRoleOptions!=1">
          <label>User role:</label> <br />
          <md-select [(ngModel)]="user.role" formControlName="role" (change)="inputChanged()">
            <md-option *ngFor="let userRole of userRoles" [value]="userRole.value">
              {{ userRole.viewValue}}
            </md-option>
          </md-select>

        </div>

      </div>
    </div>
  </div>

</form>
