<md-card>
  <div fxLayout="column" class="print-users">
    <div fxLayout="row">
      <div fxFlex="30%" class="food-heading">
        <span>FullName</span>
      </div>
      <div fxFlex="10%" class="food-heading text-center">
        <span>QTY.</span>
      </div>
      <div fxFlex="10%" class="food-heading">
        <span>Meal</span>
      </div>
      <div fxFlex="10%" class="food-heading text-center">
        <span>QTY.</span>
      </div>
      <div fxFlex="10%" class="food-heading food-align-left">
        <span>Salad</span>
      </div>
      <div fxFlex="10%" class="food-heading text-center">
        <span>QTY.</span>
      </div>
      <div fxFlex="10%" class="food-heading food-align-left">
        <span>Drink</span>
      </div>
      <div fxFlex="10%" class="food-heading text-center">
        <span>Total</span>
      </div>
    </div>

    <div *ngFor="let order of userOrders; let i = index">
      <div fxLayout="row" class="food print-user">
        <div fxFlex="30%" class="food-heading">
          <span>{{order.lastName}}</span>
          <span>{{order.firstName}}</span>
        </div>

        <div flexLayout="column" fxFlex="20%">
          <div flexLayout="row" *ngFor="let food of getMainFoodsOrdersDetails(i);">
            <div fxFlex="50%" class="text-center">
              <span>{{food.quantity}}</span>
            </div>
            <div fxFlex="50%">
              <span>{{food.name}}</span>
            </div>
          </div>
        </div>

        <div flexLayout="column" fxFlex="20%">
          <div flexLayout="row" *ngFor="let food of getSaladFoodsOrdersDetails(i);">
            <div fxFlex="50%" class="text-center">
              <span>{{food.quantity}}</span>
            </div>
            <div fxFlex="50%">
              <span>{{food.name}}</span>
            </div>
          </div>
        </div>

        <div flexLayout="column" fxFlex="20%">
          <div flexLayout="row" *ngFor="let food of getDrinksOrdersDetails(i);">
            <div fxFlex="50%" class="text-center">
              <span>{{food.quantity}}</span>
            </div>
            <div fxFlex="50%">
              <span>{{food.name}}</span>
            </div>
          </div>
        </div>

        <div flexLayout="column" fxFlex="10%">

          <div class="text-center">
            <p class="user-total">{{order.total | number:'1.2'}}
              <span [innerHTML]="globalSettingsService.getCurrency() | async"></span>
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>
</md-card>
