md-card{
  margin-top: 30px;
}

.food {
  background-color: #f2f2f2;
  margin: 0.2em 0;
  padding: 0.5em;
  border-radius: 0.2em 0 0 0.2em;
}

.food-heading {
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

.text-center {
  text-align: center;
}

.food-align-left {
  text-align: left;
}

.user-total {
  margin-top: 3em;
  width: 100%;
}

.user-order-border {
  border-bottom: solid 1px;
}



.chef-orders-border {
  border-bottom: solid 1px;
}

.print-food-qty{
  text-align: center;
}
